[2018-06-26 07:32] BorntraegerMarc opened #1 "Add to wiki which AES mode is used"
I didn't see the used AES mode. It's important for the user to know...

[2018-06-26 09:39] pandiarajan-i2i commented on #1
Hi @BorntraegerMarc,
Thanks for your suggestions. We have updated the details in README.md file.

FYI...
AES 256 CBC mode encryption is used. For Android, PKCS5Padding is used and for iOS PKCS7Padding is used.

[2018-06-26 10:44] BorntraegerMarc commented on #1
Cool, thanks :)

[2018-06-26 10:44] #1 closed, assigned to nobody

[2018-07-25 12:34] BorntraegerMarc opened #2 "Feature request: Add method to generate random bytes"
I think for performance it would be better to generate the random bytes on the native side and pass them through cordova once it's finished.

This issue is a feature request to add a method "randomBytes(bytes: number)" to generate random bytes for the secureKey & secureIV string

[2018-07-25 13:11] pandiarajan-i2i commented on #2
Hi @BorntraegerMarc ,
Thanks for your suggestion. We will add this feature to the native layer.

FYI,
In front end, we have used  "crypto-js/pbkdf2" js library to generate random "secureKey" & "secureIV".

 Example,
[code]

[2018-07-25 13:40] BorntraegerMarc commented on #2
Thanks a lot for the fast reply & tip. It's uncommon nowadays to see such engagement from the contributers in a cordova plugin!

Looking forward to the update :)

[2018-07-26 07:50] BorntraegerMarc opened #3 "Specify password string encoding"
I followed the example from https://github.com/Ideas2IT/cordova-aes256/issues/2 and gone ahead and implemented my encryption & decryption function like this:
[code]

But what I don't understand is why I had to generate a 128 bit long key in order to get the encryption to work. When I passed `keySize: 8` instead of 4 the variable `encryptedString` was `null`.

I debugged the plugin and it turns out

[2018-07-26 10:19] pandiarajan-i2i commented on #3
@BorntraegerMarc
Answering your questions,
1. How is the 32 char long string determined? According to my knowledge, the key should be 256 bit long.
**Ans:** Internally we will convert the 32 character string into AES 256 supported string. Based on the operating system(32bits/66bits) we will convert it.
32*8 = 256 bits

2. Is my parameter wrongly encoded and it should not be a UTF-8 string but mayb

[2018-07-26 13:04] BorntraegerMarc commented on #3
Hi @pandiarajan-i2i
Thanks for your help. I believe it will be way clearer once you guys introduce the own-plugin method to generate a key & IV.
But everything works for me now.

I think I was just confused because I'm used to that I should pass the finished key & IV which has a fixed size (128 bit) and won't be changed anymore...

[2018-07-26 13:04] #3 closed, assigned to nobody

[2018-07-26 13:12] pandiarajan-i2i commented on #3
Yes @BorntraegerMarc , you are correct. We will add the key generation method to the plugin and will release the new version as soon as possible.

Thanks for your valuable suggestions.

[2018-08-07 07:31] BorntraegerMarc commented on #2
Hey @pandiarajan-i2i just checking in of you have an ETA on this feature request and if I can help you in any way?

[2018-08-07 07:37] pandiarajan-i2i commented on #2
Hi @BorntraegerMarc ,

We have completed the android part and working on the iOS part. So hopefully this weekend we will give a new release.

Thanks for your support.

[2018-08-07 07:45] BorntraegerMarc commented on #2
Cool! :)
I'm happy to test it out as soon as you have released it. Just hit me with a message :)

[2018-08-07 09:11] pandiarajan-i2i commented on #2
sure @BorntraegerMarc . We will update you once we complete it.

[2018-08-15 07:37] BorntraegerMarc commented on #2
Hey @pandiarajan-i2i Just checking in if there's anything I can test yet? :)

[2018-08-15 08:39] pandiarajan-i2i commented on #2
Hi @BorntraegerMarc,
We have added the secure key and secure IV generation method to the android code and tested it. Currently testing the iOS code. We will release it soon.

You can clone the repo and add can able to tested the android build.

FYI,
Add a local plugin
ionic cordova plugin add cloned repository folder path

[2018-08-15 08:46] BorntraegerMarc commented on #2
Alright, thanks! I'll start with testing next week.
Have a nice time!

[2018-08-20 07:50] BorntraegerMarc commented on #2
Hi @pandiarajan-i2i I checked out the API for android and I have one question: Why is it still needed to pass a `password` to the library? Is there a specific use case that you have in mind? Because honestly I don't know when a user has a specific password but doesn't want to generate a `IV` or `key` himself.

Would it maybe make sense to make the `password` attribute optional and if it's not prov

[2018-08-20 08:11] pandiarajan-i2i commented on #2
Hi @BorntraegerMarc ,
We have used the PBKDF2 (Password-Based Key Derivation Function 2)  for generating the IV and secureKey. The PBKDF2 function requires a password as a input.  To ensure more security, instead of generating a random password from the library, we have exposed the password param so that user can set the password.

[2018-08-20 08:13] BorntraegerMarc commented on #2
Why would not having a random password be more secure?

To my understanding: more random inputs = harder to guess for an attacker = more Security

[2018-08-20 09:29] pandiarajan-i2i commented on #2
@BorntraegerMarc ,
Yes, you're correct.  The random input is more secure. But, instead of generating the random password from the library with some random algorithm user can able to generate the password string using any random algorithm.

If the library generates a random password then the attacker will know about a random algorithm(from the source). It's hard to guess but it will give way to the

[2018-08-20 10:15] BorntraegerMarc commented on #2
Hmmm ok, I do see your point that one could have different ways on how to generate a random password.

The password does not need to have a specific length, right? Because it's going to be fun through a KDF anyway.

[2018-08-20 11:16] pandiarajan-i2i commented on #2
@BorntraegerMarc
Yes, Password doesn't have a specific length.

[2018-08-22 11:45] pandiarajan-i2i commented on #2
Hi @BorntraegerMarc ,
We have released a new version. Please check it out and let us know if any issues.

[2018-08-22 14:05] BorntraegerMarc commented on #2
I will, soon! Thanks!

[2018-08-29 18:00] BorntraegerMarc commented on #2
I can confirm that encryption / decryption works like a charm for me :) Thanks guys, really love the new API!

PS: added this PR https://github.com/ionic-team/ionic-native/pull/2672 to update the ionic typings

[2018-08-29 18:00] #2 closed, assigned to nobody

[2018-08-30 06:09] pandiarajan-i2i commented on #2
Hi @BorntraegerMarc,

Thanks for your support and your contribution is really great.

We have checked your pull request in the ionic-native repo and seems ci has failed. We also have some filed changes in the ionic-native source code so we will check and update the source.

[2018-08-30 06:17] BorntraegerMarc commented on #2
Yeah I noticed the CI tests are failing. But I don't think it's because of me, as they are also failing on master...

OK. What changes do you have for ionic-native?

[2018-08-30 06:19] pandiarajan-i2i commented on #2
We have some variable name changes.

[2018-08-30 07:33] pandiarajan-i2i commented on #2
Hi @BorntraegerMarc ,

We updated the pull request with your changes and added some additional details. Ci check has passed. We will wait for the ionic-native developers to review it.

https://github.com/ionic-team/ionic-native/pull/2675

Thanks for your contribution.

[2018-08-30 07:35] BorntraegerMarc commented on #2
cool, thanks :) closed my PR...

[2018-08-30 07:40] pandiarajan-i2i commented on #2
@BorntraegerMarc ,

Please feel free to post any issues or new feature if you want to add.

[2018-08-31 16:02] BorntraegerMarc opened #4 "XCode background thread warnings"
When using this library to do encryption & decryption of medium sized objects I get a lot of these warnings in XCode:
[code]

Do you think this might be an issue at some point?

[2018-09-03 10:38] pandiarajan-i2i commented on #4
Hi @BorntraegerMarc ,

The reason behind the warning is the plugin operations are running in the main thread. In development mode, the Ionic will show these kinds of warnings.

To avoid these warnings, we can run the entire operations in the background thread.

Currently, the plugin will take less time for encryption/decryption. Mostly if we do some big task or network operation we will use a back

[2018-09-03 10:46] BorntraegerMarc commented on #4
Thanks for the link. So it seems (for performance reasons) it's better to keep the AES plugin in the main thread. Because I think usually users want to see the decrypted data asap. So blocking the main thread is probably worth it.

Closing the issue...

[2018-09-03 10:46] #4 closed, assigned to nobody

[2018-09-03 10:53] pandiarajan-i2i commented on #4
Thanks @BorntraegerMarc ,

Pull request merged.

[2018-09-07 08:02] teerasej opened #6 "Is this support AES128?"
Thank you for providing this useful plugin. But for my curious, does this plugin can use for AES128? or do you have any suggestion for other plugin?

[2018-09-07 09:19] pandiarajan-i2i commented on #6
Hi @teerasej ,

Thanks for reaching us. Currently, the plugin supports only AES256 encryption.

We will add this feature to our enhancement list and will expose separate function for aes128.

[2018-09-07 09:33] pandiarajan-i2i commented on #2
Hi @BorntraegerMarc ,
The ionic team has merged the pull request(ionic-team/ionic-native#2675) and updated it the official docs.

FYI...
https://ionicframework.com/docs/native/aes256/

[2018-09-07 09:37] BorntraegerMarc commented on #2
Thanks! I have already been using the new version since couple of days 😉

[2018-09-30 04:48] CHUN-WEI-HSU opened #7 "Method not found in iOS"
I got an error messages in xCode. it works find in Android

	Error: Plugin Optional("AES256") does not respond to method call generateSecureKey:.
	Ensure plugin method exists and uses @objc in its declaration

[2018-10-01 06:18] pandiarajan-i2i commented on #7
@gesrt
We will check and let you know.

Could you please send us the AES256 plugin and Xcode version details.

[2018-10-01 06:40] CHUN-WEI-HSU commented on #7
Thank you for your assistance.
	Xcode Version 10.0 (10A255)
	Plugin Version 1.1.0

sorry for my bad english.

[2018-10-15 08:57] flowli commented on #7
In my case it also works fine on Android but on iOS the decryption always returns NULL. Could this be related?

[2018-10-15 09:04] pandiarajan-i2i commented on #7
Hi @flowli ,

We will look on to this issue. If possible could you please provide us the some additional info,

1. Have you used the "generateSecureKey" function for creating the secure key?

2. If you have used own SecureKey then the length should be 32 and for the secure IV length should be 16

[2018-10-15 09:52] flowli commented on #7
I generate the params with this:

[code]

This gets stored securely and is later fed to the encrypt/decrypt methods.

[2018-10-15 10:33] pandiarajan-i2i commented on #7
Thanks @flowli ,
Could you please send us the generated sample key and iv, AES256 plugin and Xcode version details.

[2018-10-15 12:39] flowli commented on #7
After generating a new key (didn't save the old one) it appears to work. Will let you know when the problem re-appears. Thanks a lot so far!

[2018-11-30 09:40] kononenko-a-m opened #8 "Cannot compile plugin for iOS"
When I try to build project for iOS, I got those errors:

platforms/ios/prj/Plugins/cordova-plugin-aes256-encryption/PBKDF2.swift:4:36: error: use of undeclared type 'CCPBKDFAlgorithm'
    public class func pbkdf2(hash: CCPBKDFAlgorithm, password: String, salt: String, keyByteCount: Int, rounds: Int) -> String? {
                                   ^~~~~~~~~~~~~~~~
platforms/ios/prj/Plugins/cordova

[2018-11-30 09:42] #7 closed, assigned to nobody

[2018-11-30 09:57] BorntraegerMarc commented on #8
I just verified that installation + building works for me.

what version of cordova + cordova-ios are you using?
How do you build the project?

[2018-11-30 09:58] dinakarankec commented on #8
Hi @kononenko-a-m ,

Could you please provide us some more information like Xcode version, ionic version and Cordova version.

remove the node-modules, plugins and platform directories and build.

Install plugins using following command,
[code]

[2018-11-30 10:19] kononenko-a-m commented on #8
@dina-ideas2it I tried your suggestion, didn't help, here info which you've asked:

Cordova version 6.5.0
cordova-ios: 4.5.5
Ionic 4.5.0
Xcode: 10.1

Swift version: 3.0

[2018-11-30 10:22] dinakarankec commented on #8
Thanks @kononenko-a-m, we will check it and let you know

[2018-11-30 10:39] BorntraegerMarc commented on #8
it works for me with the following versions:

**Cordova version: 8**
cordova-ios: 4.5.5
**Ionic 4.2.1**
Xcode: 10.1
MacOS: Mojave

[2018-11-30 10:44] dinakarankec commented on #8
Yeah it works for me too in cordova latest version

will check it in **cordova 6.5.0**

[2018-11-30 10:50] kononenko-a-m commented on #8
actually, I managed to build the project via removing and adding again ios platform to cordova, so seems it's some my local env bug. I believe this thread can be closed, thanks!

[2018-11-30 11:08] pandiarajan-i2i commented on #8
Hi @kononenko-a-m ,
Thanks for reaching out us.

@BorntraegerMarc , @dina-ideas2it  Thanks for your support.

[2018-11-30 11:08] #8 closed, assigned to nobody

[2018-12-05 18:08] TalesMattos opened #9 "Error: Metadata version mismatch for module found version 4, expected 3"
Error when run `ionic cordova build android --prod --release`
When run `ionic cordova build android`, works.
My ionic info:

[code]

[code]

[2018-12-06 13:18] dinakarankec commented on #9
@TalesMattos we will check this in same environment and let you know

[2018-12-06 19:58] TalesMattos commented on #9
Hi,
I solved my problem updating all `@ionic-native/` dependencies to latest version `^4.18.0` and updanting all `@angular/` dependencies to `^5.2.11`, like:
[code]

 see [https://github.com/ionic-team/ionic/issues/15324](https://github.com/ionic-team/ionic/issues/15324 )

[2018-12-06 20:03] TalesMattos commented on #9
Before: `@angular/* = 4.1.3`  and  `@ionic-native/core = 3 `

[2018-12-19 22:26] gbvacco opened #10 "Null on decrypt Ionic 4 iOS"
Hello,

I'm using Ionic 4 Beta 19, and getting null when trying to decrypt, but only on iOS ... But Android is working fine ...

`async aesData(data) {
        return await this.aes.encrypt(this.secureKey,
            this.secureIV,
            data)
            .catch(
                (error: any) => console.error(error)
            );
    }`

    `async revertAesData(data) {
        return await

[2018-12-20 06:39] dinakarankec commented on #10
@gbvacco
1. Generally we need to use 32 byte string for secureKey and 16 byte string for secureIV to encrypt and decrypt the content
you can use the inbuilt methods to generate secureKey and secureIV to avoid this kind of null values
[code]
2.  May be you have used different secureKey and secureIV for decrypt, then you would get this null, try to use the same secureKey and secureIV for both encryp

[2018-12-20 10:42] gbvacco commented on #10
@dina-ideas2it I'm using those functions to generate the keys, and both functions are working on android and ios ... the **encrypt** function is working for both OS too ... the only function that is not working properly is the decrypt on iOS

And I'm using the same generated key for encryption and decryption

`async generateSecureKeyAndIV() { this.secureKey = await this.aes.generateSecureKey('pevx

[2018-12-20 10:44] #9 closed, assigned to nobody

[2018-12-20 10:47] pandiarajan-i2i commented on #6
This is the new feature, so we will track this separately.

[2018-12-20 10:47] #6 closed, assigned to nobody

[2018-12-20 11:01] pandiarajan-i2i commented on #10
Hi @gbvacco ,
FYI,
Whenever you called the "generateSecureKey" method will return different key for the same password,
ex)
Execution 1: this.aes.generateSecureIV('GSPA');   -> returns "test key"
Execution 2: this.aes.generateSecureIV('GSPA');   -> returns "new test key"

So please make sure you have to call the generateSecureIV method only one time and store the key in your local/any storage.
When

[2018-12-20 18:08] gabrueks commented on #10
@gbvacco @pandiarajan-i2i
I'm having the same issue, on android the lib works fine, but when it comes to iOS it doesn't decrypt.
Anyways, when I checked your code(refer https://github.com/Ideas2IT/cordova-aes256#getting-started) I realized that you call "encrypt" on both functions as commented below
[code]

[2018-12-20 18:37] pandiarajan-i2i commented on #10
Thanks @gabrueks ,

We have updated the README.md file. We will check and let you know.

[2018-12-30 15:03] pY4x3g opened #11 "Feature request: Method with direct private key bytes"
Would be great if there would be methods which use a private AES key by providing its bytes directly to the method instead of running PBKDF2 on the private key.

[2019-01-29 14:53] saruululzii opened #12 "SecureKey incorrect in readme"
Hello,

I followed your readme, but in ios, encrypt/decrypt return null, problem was your example's key wasn't correct.

  secureKey: String = '123456789101234567890123456789011'; // Any string, the length should be 32

This key's length isn't 32, its length 33,
[12345] [67891] [01234] [56789] [01234] [56789] [011] => 33characters
then encrypt/decrypt not working properly, returns null, please fix

[2019-01-31 18:32] erjimmmy opened #13 "Different result in IOS and Android"
Hi,

I have a problem when I encrypt a text with AES 256 in IONIC.  If I run the application in a IOS device, the result is different  of the Android device. I don´t know the problem.
Can you help me?
Thanks in advance

[2019-02-03 04:57] pandiarajan-i2i commented on #12
@Saruul-Ulzii , Thanks for using our library.

We have changed the sample key.

[2019-02-03 04:57] #12 closed, assigned to nobody

[2019-02-03 05:11] pandiarajan-i2i commented on #13
@erjimmmy
Yes, The Android and iOS result will be different and will work based on the device.

For iOS, we have used PKCS7 Padding and it's the latest one.

For supporting older Android versions, we have used PKCS5 Padding.
https://developer.android.com/reference/javax/crypto/Cipher

[2019-02-05 04:25] auron105 opened #14 "Error occurred while performing decrypt"
I got this error when I encrypted the string from c# Webservice and sent it to Android to decrypt it~
please help~!

this is C# code
        private static string EncryptAES256(string source)
        {
            byte[] sourceBytes = Encoding.UTF8.GetBytes(source);
            var aes = new RijndaelManaged();
            aes.Key = Encoding.UTF8.GetBytes("12345");
            aes.IV = Encoding.UTF

[2019-02-06 09:03] #13 closed, assigned to nobody

[2019-02-06 09:53] pandiarajan-i2i commented on #14
Hi @auron105 ,
The Android/iOS library has some internal logic in which it will not directly use the secure key given by the user instead It will internally generate another key based on the input key and use that key to decrypt/encrypt operations.

FYI...
https://github.com/Ideas2IT/cordova-aes256/issues/13

[2019-02-06 11:45] pandiarajan-i2i commented on #10
Android and iOS encryption/decryption work independently based on the mobile device. Hence, it doesn't support android encryption output to iOS decryption input and vice versa.

https://github.com/Ideas2IT/cordova-aes256/issues/13.

[2019-02-06 11:45] #10 closed, assigned to nobody

[2019-02-06 14:24] jhoogeboom commented on #7
I have the same issue as gesrt:
[code]
Xcode Version 10.1 (10B61)
Plugin Version 1.1.0

installed with [capacitor](https://capacitor.ionicframework.com/docs/basics/cordova):
npm install cordova-plugin-nativestorage

[2019-02-18 10:07] ghost opened #15 "Error occurred while performing decrypt"
I am currently trying to decrypt a string of data that has been encrypted using RSA-OAEP using my public key. The code that does this is written in C# and I have confirmed that the byte array in C# and the byte array after private key decryption is correct. I compared them byte for byte - they are the same.

I presume the error is happening when I convert the `UInt8Array` to a string to be used in

[2019-02-25 13:11] BorntraegerMarc opened #16 "Error when building with Swift 4 (BLOCKS from using on iOS 12.2 beta)"
I get the following error when configuring Xcode to use Swift 4:
[code]

Other plugins seem to be working fine.

Since Swift v3 is already deprecated and will be removed in the next xCode version 10.2 this plugin should also support Swift v4

Taking a very quick look into the bridging header https://github.com/Ideas2IT/cordova-aes256/blob/master/src/ios/AES256-Plugin-Bridging-Header.h it seems lik

[2019-02-25 13:12] BorntraegerMarc commented on #16
PS: I can not use any plugin methods at all when using swift v4. So it's not limited to `generateSecureKey`

[2019-02-25 13:23] pandiarajan-i2i commented on #16
@BorntraegerMarc ,

We will check it and let you know.

Probably, we have to check with the latest swift version and add the necessary changes to the existing plugin.

[2019-02-25 13:25] BorntraegerMarc commented on #16
Thanks @pandiarajan-i2i
yeah, I agree. let me know if I can help.

FYI: This issue is currently blocking us to support iOS 12.2 beta because one can only deploy to iOS beta with the xCode-beta app. And xCode-beta doesn't support Swift 3 anymore 🙂

[2019-02-26 12:37] #14 closed, assigned to nobody

[2019-02-26 12:47] pandiarajan-i2i commented on #15
@TachyonRSA

The Android/iOS library has some internal logic in which it will not directly use the secure key given by the user instead It will internally generate another key based on the input key and use that key to decrypt/encrypt operations.

FYI...
#13

[2019-02-26 15:22] ghost commented on #15
Just ended up using `window.crypto.subtle` for everything. Going to go ahead and close the issue, thanks though.

[2019-02-26 15:22] #15 closed, assigned to nobody

[2019-02-27 09:25] pandiarajan-i2i commented on #16
@BorntraegerMarc

Ios swift 4 support has been added.

https://github.com/Ideas2IT/cordova-aes256/commit/098c163c2702fa7c2400f339d706e95da43935ab

[2019-02-27 09:30] pandiarajan-i2i commented on #16
@BorntraegerMarc ,

New version 1.2.0 has been released.

https://github.com/Ideas2IT/cordova-aes256/releases/tag/v1.2.0

[2019-02-27 14:30] BorntraegerMarc commented on #16
Thanks a lot @pandiarajan-i2i I'm still getting the error in xCode tough :/
See here:
![screenshot 2019-02-27 at 15 24 51](https://user-images.githubusercontent.com/7549295/53497439-6bd9e380-3aa4-11e9-9ab6-3240f5f94ad3.png)

and these are all the swift files in the project:
![screenshot 2019-02-27 at 15 28 36](https://user-images.githubusercontent.com/7549295/53497442-71cfc480-3aa4-11e9-917e-22af6

[2019-02-27 15:13] pandiarajan-i2i commented on #16
@BorntraegerMarc ,

Could you please share us the Xcode and Mac os details.

[2019-02-27 15:16] BorntraegerMarc commented on #16
@pandiarajan-i2i I'm using the latest xcode beta and latest stable Mac os Mojave

[2019-02-27 15:36] pandiarajan-i2i commented on #16
@BorntraegerMarc ,

Can you please change the swift version in the build settings of your project and check still you got the same error.

[2019-02-27 15:43] BorntraegerMarc commented on #16
@pandiarajan-i2i It's set to v4
![screenshot 2019-02-27 at 16 43 09](https://user-images.githubusercontent.com/7549295/53502623-c5dfa680-3aae-11e9-83c8-a3635178adf6.png)

Do you not have the same error?

[2019-02-27 15:47] pandiarajan-i2i commented on #16
@BorntraegerMarc ,

I have the 9.4 version of the Xcode and tried with both swift 3 and swift 4 and it's working.

In your screenshot, it looks build was successful.

[2019-02-27 15:52] BorntraegerMarc commented on #16
@pandiarajan-i2i yeah, with lower Xcode versions it will not throw an error (also not for me).

But since in Xcode v10.2 (beta 3) doesn't support swift v3 anymore we will see this error.

Build works for the time being (as you pointed out correctly). But I don't know for how long.

So I assume if this plugin continues to use swift v3 code then it will not build successfully anymore at some point (

[2019-02-27 15:53] BorntraegerMarc commented on #16
Here the official release notes, that state that swift v3 will not be supported anymore: https://developer.apple.com/documentation/xcode_release_notes/xcode_10_2_beta_3_release_notes/swift_5_release_notes_for_xcode_10_2_beta_3?preferredLanguage=occ

[2019-02-27 15:55] pandiarajan-i2i commented on #16
Thanks, @BorntraegerMarc,

I will add the required changes and will let you know.

It would be helpful if you can download the source directly and check it in your latest version of the xcode.

[2019-02-27 16:00] BorntraegerMarc commented on #16
Sure @pandiarajan-i2i ! Glad to help :) Just tell me what I should do to test it.

[2019-03-26 04:00] enjijon opened #18 "Swift 5"
file: cordova-plugin-aes256-encryption/PBKDF2.swift
warning: 'withUnsafeBytes' is deprecated: use `withUnsafeBytes<R>(_: (UnsafeRawBufferPointer) throws -> R) rethrows -> R` instead
            saltData.withUnsafeBytes

I need help in understanding the new withUnsafeBytes format. For now I can only build with swift 4. But i would like to build in Swift 5 too.

[2019-04-01 14:39] alobanov commented on #18
To fix the warning, use new method like this:

[code]

[2019-04-18 13:14] raghu5291 commented on #16
Any update on this issue? As we are blocked to create builds with latest xcode.

[2019-04-18 13:19] BorntraegerMarc commented on #16
Builds are successful with latest xCode for me. Just always this warning when opening the project

[2019-04-18 13:27] raghu5291 commented on #16
@BorntraegerMarc yes I upgraded to latest version of xcode build is successful. Is there any impact on the functionlity so far?

[2019-04-24 10:48] BorntraegerMarc commented on #16
@raghu5291 no

[2019-04-24 11:45] BorntraegerMarc opened #19 "Make Java methods public?"
What do you think of the idea to make all methods public & static from this class: https://github.com/BorntraegerMarc/cordova-aes256/blob/master/src/android/AES256.java

I could provide a PR.

The benefit would be that we could use the same class for our custom plugin without needing to manually copy & paste the code. Since we need to do something custom with encryption in our native plugin.

[2019-04-24 11:53] pandiarajan-i2i commented on #19
Thanks, @BorntraegerMarc,

Instead of making the plugin method static, we can provide a Util class where all the methods will be static.

[2019-04-24 12:57] BorntraegerMarc commented on #19
that's a good idea @pandiarajan-i2i you want me to create a PR?

[2019-04-24 12:59] pandiarajan-i2i commented on #18
Thanks, @alobanov,

Currently, we are working on the Swift versions(3,4,5) support. Your changes will come as part of this.

[2019-04-24 13:05] pandiarajan-i2i commented on #19
Thanks for your contribution, @BorntraegerMarc

We will add these changes along with the swift version(s) support changes.

[2019-04-24 13:07] BorntraegerMarc commented on #19
OK. Tell me if I can help in any way :)

[2019-04-24 13:10] pandiarajan-i2i commented on #19
@BorntraegerMarc , Could you please check this functionality for swift?

[2019-04-24 13:12] BorntraegerMarc commented on #19
you mean for me to provide a PR to have static methods in swift?

[2019-04-24 13:15] pandiarajan-i2i commented on #19
it may be a pull request or can you confirm whether it's already available as public.

[2019-04-24 13:37] BorntraegerMarc commented on #19
@pandiarajan-i2i so I think these changes need to happen to be able to fully share the code with 3rd parties:

1. Extract this method to a helper method in `AES256CBC` https://github.com/Ideas2IT/cordova-aes256/blob/master/src/ios/AES256.swift#L60
1. Same for https://github.com/Ideas2IT/cordova-aes256/blob/master/src/ios/AES256.swift#L79

Because without these helper methods we had to manually cop

[2019-04-24 13:44] pandiarajan-i2i commented on #19
Yah you are welcome. If possible we can address the swift versions issues and will add this static method implementation later.

Because, Whenever the new updates to the iOS/Xcode they have removed the support for the previous swift versions. It indirectly forces the previous code implementations.
https://github.com/Ideas2IT/cordova-aes256/issues/18

If we do find some effective solutions then it

[2019-04-29 16:18] jbdoster opened #20 "Suggested ionic cordova plugin add command returns error"
Hello,

On the Ionic website the [install information](https://ionicframework.com/docs/v3/native/aes256/) returns this error:

[code]

[2019-04-29 16:20] jbdoster commented on #20
**--verbose**

[code]

[2019-04-29 16:29] pandiarajan-i2i commented on #20
@jbdoster,

Can you provide us some additional details such as,
Ionic, Cordova, node and  bpm version details?

Please install the below npm package and try it,
cordova plugin add cordova-plugin-add-swift-support --save

[2019-04-29 20:17] jbdoster commented on #20
@pandiarajan-i2i
Thank you for your quick response.

[code]

Should I use cordova lib v8? I've had a similar issue with another package recently:
https://github.com/jcesarmobile/FilePicker-Phonegap-iOS-Plugin/issues/57

Also, I already have the add-swift-support package installed

[2019-04-29 21:49] jbdoster commented on #20
This is what I receive with cordova version 9 during build:

`The “Swift Language Version” (SWIFT_VERSION) build setting must be set to a supported value for targets which use Swift. Supported values are: 3.0, 4.0, 4.2. This setting can be set in the build settings editor.`

This is what I receive with cordova version 8.1.1 during build:

[code]

[2019-04-30 05:52] praveenraji2i commented on #20
@jbdoster I will take look at this.

[2019-05-06 03:27] angelofan opened #21 "My key length is 16, what should I do?"
We have been using the key with a Key length of 16 and the IV with a key length of 16 as the encryption of the http request. I tried to enter the key with a key length of 16, But the result of Android encryption is different from the encryption result of the server, and the value after ios encrypted is null. What should I do to use the kty with length of 16?

Any solution is worth trying

[2019-05-06 06:16] pandiarajan-i2i commented on #21
Hi @13546777510 ,

The secure key length should be 32 character length.

The Android and iOS plugin has some internal logic which will not use the same key also, based on the various devices configurations it chooses the encryption mode.

FYI...
https://github.com/Ideas2IT/cordova-aes256/issues/15

[2019-05-06 11:10] angelofan commented on #21
Thank you for your answer

Because of the difference between Android and iOS, I encrypt the data and send it to the server for decryption.

It seems that their encryption results are different.
Then, the same key and iv encrypted results are different for Android and iOS. After submitting to the server, can the original key and iv be used to make their decryption results consistent?

By the way, i

[2019-05-16 18:03] PrasanthNathRave commented on #14
I am facing the same issue, can anyone plz tell how to fix this
Error -- "Error occurred while performing decrypt"

[2019-05-16 18:38] pandiarajan-i2i commented on #14
@PrasanthNathRave ,

Could you please provide some more details

[2019-05-23 11:41] BorntraegerMarc commented on #16
Hi guys

Not to seem pushy but wanted to ask if you have an update on this issue?

Thanks

[2019-05-23 11:56] praveenraji2i commented on #16
Hey @BorntraegerMarc ,

I have completed Swift 5 support and PR raised #22, working on background threading process for both iOS and Android, testing is in progress.

Thanks.

[2019-05-23 12:39] BorntraegerMarc commented on #16
amazing :) Thanks a lot! 😄

[2019-05-24 07:52] BorntraegerMarc opened #23 "Capacitor support"
Hi

I wanted to get feedback from the authors & maintainers whether you are open (or even planning?) to support ionic's capacitor? https://capacitor.ionicframework.com/docs/plugins

I think generally Cordova plugins should work out of the box and I will test in the following weeks whether there are any issues. But wants to get some feedback from you guys :)

Now since capacitor is stable (https://

[2019-05-24 09:14] pandiarajan-i2i commented on #23
Hi @BorntraegerMarc ,

We have already done some groundwork on the ionic's capacitor. Also, we use it in the local development project.  Hopefully, once @praveenraji2i has done with the siwft4 support, this plugin will become stable with respect to Xcode/Swift version then we can roll out a new version of the plugin with the capacitor. We do some analysis on the migrations/plugin upgrades.

Thanks

[2019-05-24 09:18] BorntraegerMarc commented on #23
Glad to hear 🙂

So let's maybe keep this issue as a feature request then.

Happy to help

[2019-06-25 19:48] afonsoUnivision commented on #13
I'm developing an android/ios app with ionic and reach the same problem with this plugin, maybe this PKCS padding could be a parameter.

[2019-07-02 06:30] AL-locator commented on #20
Is there any update?
Still getting an error with cordova v9

[2019-07-03 06:23] pandiarajan-i2i commented on #11
putting this enhancement to low priority.

[2019-07-03 06:26] #11 closed, assigned to nobody

[2019-07-03 07:01] pandiarajan-i2i commented on #20
Thanks, @AL-locator

It will be covered as part of the pull request https://github.com/Ideas2IT/cordova-aes256/pull/22

[2019-07-03 07:02] pandiarajan-i2i commented on #18
It will be covered as part of the pull request #22

[2019-07-03 07:27] pandiarajan-i2i commented on #21
@13546777510
We have used the secure key length as 32. Which will be converted to 256 bytes (32 * 8). For AES-256 it should require a key with a length of 32.

Also, this encryption/decryption are performed based on the platforms(Android/iOS). It could not be used with the server.

The main intent is to provide secure encrypted local data coverage to mobile devices.

[2019-07-16 10:17] pandiarajan-i2i commented on #20
@jbdoster, @AL-locator

The new version of the plugin has been released. It will support the latest Cordova and swift versions.

Please use the latest version(2.0.0) and let us know if any issues.

[2019-07-16 10:18] pandiarajan-i2i commented on #18
@enjijon , @alobanov ,

This issue has been fixed and we have released the new version 2.0.0. Please use the latest version and let us know if any issues.

[2019-07-16 10:20] pandiarajan-i2i commented on #16
@BorntraegerMarc,

The new version of the plugin has been released. It will support the latest Cordova and swift versions.

Could you please try out the latest version(2.0.0) and let us know if any issues.

[2019-07-22 06:23] pandiarajan-i2i commented on #20
Fixed as the part of https://github.com/Ideas2IT/cordova-aes256/pull/22

[2019-07-22 06:23] #20 closed, assigned to praveenraji2i

[2019-07-22 06:23] pandiarajan-i2i commented on #18
Fixed as the part of #22

[2019-07-22 06:23] #18 closed, assigned to praveenraji2i

[2019-07-22 06:24] pandiarajan-i2i commented on #16
Fixed as the part of #22 , If still issue persist pls reopen it.

[2019-07-22 06:24] #16 closed, assigned to praveenraji2i

[2019-07-22 06:25] #21 closed, assigned to nobody

[2019-09-28 13:35] BorntraegerMarc opened #25 "Build errors with Xcode 11"
Hi guys, me again (the bearer of bad news) 👋

When compiling our cordova project with xcode 11 & using this plugin we receive this compilation errors:
[code]

[2019-09-28 16:24] praveenraji2i commented on #25
@BorntraegerMarc @pandiarajan-i2i I will look into it, Thank you.

[2019-09-28 17:08] pandiarajan-i2i commented on #25
@BorntraegerMarc Thanks for letting us know. Could you please send us additional details like Cordova, Ionic, Plugin, Xcode and iOS versions.

[2019-09-28 18:05] BorntraegerMarc commented on #25
Absolutely. Corova v8, "cordova-ios": "5.0.0", xcode 11 (newest one in this point of time)

[2019-11-25 09:11] BorntraegerMarc commented on #23
any update here? :)

as said: I'm happy to help out with my team as long as we're aligned what needs to be done :)

[2019-11-25 09:28] pandiarajan-i2i commented on #23
Thanks, @BorntraegerMarc.

@suriyakumarcs has already completed the development for the capacitor support. He is facing some build issues in the "Android" platform and try to resolve them.

We are determining the ways of updating existing repo or creating a separate repository.

Meanwhile, I will share the repo link with you and you can contribute to it.

Thank you for your interest and contributi

[2019-11-25 09:33] pandiarajan-i2i commented on #25
Hi @BorntraegerMarc,
@praveenraji2i has added swift support.  Please try with the latest version of aes256 encryption plugin 2.0.0 and let us know if you faces any issues.

[2019-11-25 09:33] pandiarajan-i2i commented on #19
@MukundhanSampath Can you please update your changes?

[2019-11-25 10:55] suriyakumarcs commented on #23
@BorntraegerMarc  cc: @pandiarajan-i2i
Added capacitor support and pushed into a new branch here:[https://github.com/suriyakumarcs/cordova-aes256/tree/feat/capacitor](https://github.com/suriyakumarcs/cordova-aes256/tree/feat/capacitor)

Needs to be done:
    Need to add thread support in capacitor plugin.

Troubleshooting:
   For Errors like
   `error: package com.ideas2it.aes256 does not exist`

[2020-01-14 23:33] Leomhl opened #27 "NullInjectorError: No provider for AES256!"
Hello, I have a problem. Help me? :D

[code]
My ionic is:

[code]

[2020-01-27 10:53] praveenraji2i commented on #27
@Leomhl No need to inject this in your app module. It's not a provider.

[2020-01-27 10:53] #27 closed, assigned to nobody

[2020-01-27 10:56] praveenraji2i commented on #25
Fixed as the part of #22 , If still issue persists pls reopen it.

[2020-01-27 10:56] #25 closed, assigned to nobody

[2020-01-28 07:04] BorntraegerMarc commented on #19
any progress on this? :) let me know if you need some help...

[2020-03-04 11:07] jcmendes9898 opened #28 "Send encrypted JSON and decrypted on server side"
Hi, is it possible or there's any way for ionic, to encrypted the JSON file and send it to the server, and there it would decrypted the file and read the content.
Can you do it if use AES256 for java in server side?

[2020-03-04 19:01] jcmendes9898 commented on #15
Can you pls tell where i can find examples of how to implement? Having the same issue.

[2020-06-02 07:43] BorntraegerMarc opened #29 "Release new version"
Hey ✌️

Could you release a new version of the plugin which includes the latest commit? We'd like to use it

[2020-06-02 07:57] praveenraji2i commented on #29
Sure @BorntraegerMarc, I will do that.

[2020-06-02 08:08] praveenraji2i commented on #29
@BorntraegerMarc New version v2.0.1 has been released, can you please verify and close the issue.

https://github.com/Ideas2IT/cordova-aes256/releases/tag/v2.0.1

[2020-06-02 08:13] BorntraegerMarc commented on #29
@praveenraji2i you forgot to publish it to npmjs: https://www.npmjs.com/package/cordova-plugin-aes256-encryption

[2020-06-02 09:22] praveenraji2i commented on #29
Thanks @BorntraegerMarc , published in npmjs also.

[2020-06-02 10:18] #29 closed, assigned to praveenraji2i

[2020-06-17 12:19] deathlynocturnal opened #30 "Not working with Capacitor - class file for org.apache.cordova.CordovaPlugin not found"
Hello,

This may be something really obvious, but I do not use Ionic either just Capacitor on it's own, so I have added the following to my MainActivity.java file: `import com.ideas2it.aes256.AES256;` and added: `add(AES256.class);` but each time I try to run I get the following:

class file for org.apache.cordova.CordovaPlugin not found

Is this something silly? Do I need to include another libra

[2020-08-16 20:09] SleeplessFox commented on #28
What about using SSL encryption over https? That should be enough or not?

[2020-09-10 01:26] elavankarthik84 opened #31 "Encryption ChiperText not valid while doing decryption at java layer"
Dear Team,
We are using ionic v3 project and doing AES 256 encryption algorithm. the chiper Text not valid and it is not base64 format. how do we change the format to supported java. i have generated chiper Text as below format, it is working decryption within ionic project, if we use similar to other java layers. it is not able to decrypted. please helps.

format of chiper text :  77be64b6202dbbf

[2020-09-10 06:42] praveenraji2i commented on #28
@jcmendes9898 This plugin is not suitable for that. @Kumaro87 you are correct SSL encryption over HTTPS is enough. Thank You

[2020-09-10 06:42] #28 closed, assigned to nobody

[2020-09-10 06:47] praveenraji2i commented on #30
@dannysmc95  Thanks for reaching out. We are working on Capacitor support.

Please Refer, #23

[2020-09-10 06:47] #30 closed, assigned to nobody

[2020-09-16 10:03] praveenraji2i commented on #31
@elavankarthik84 Can you please give us more details to debug? Are you trying to access the decryption method from some other Java class?

[2020-11-02 17:22] yoshua9 opened #32 "Run in Ionic v1?"
Error---- Error occurred while performing decrypt

Encrypt Okey but no decrypt.

[2020-11-04 15:12] praveenraji2i commented on #32
@yoshua9

We will check and let you know.

Could you please send us the more details to debug?

[2020-11-04 15:15] praveenraji2i commented on #32
Sorry accidentally closed the issue, re-opening it.

[2021-01-29 17:31] mharper6008 commented on #32
Any update on its usage with v1?  Thank you.

[2021-08-12 13:06] subashgandla opened #33 "iOS Build size increasing drastically after adding this plugin to Ionic-5 project."
I am adding "cordova-plugin-aes256-encryption" plugin to my Angular/Ionic-5 project which increasing iOS build size from 24.5MB to 99.7MB.
If anyone facing the similar issue?
Version Details:
"@ionic-native/aes-256": "^5.35.0",
"cordova-plugin-aes256-encryption": "^2.0.1",

@rajeshi2i  @pandiarajan-i2i

[2022-01-27 12:16] dupiesdupreez commented on #23
From and including: Friday, 24 May 2019
To, but not including Thursday, 27 January 2022

Result: 979 days
It is 979 days from the start date to the end date, but not including the end date.
Or 2 years, 8 months, 3 days excluding the end date.
Or 32 months, 3 days excluding the end date.

**We can all assume Capacitor support is not happening**

[2022-01-27 12:17] dupiesdupreez commented on #30
From and including: Friday, 24 May 2019
To, but not including Thursday, 27 January 2022

Result: 979 days
It is 979 days from the start date to the end date, but not including the end date.
Or 2 years, 8 months, 3 days excluding the end date.
Or 32 months, 3 days excluding the end date.

**We can all assume Capacitor support is not happening**

[2022-02-26 19:50] mayankkataria commented on #14
@pandiarajan-i2i  Can you tell me more briefly on how to use internally generated key to perform these operations?